<div class="main">
    <div class="subDiv">
        <div class="heading">
            <h1>Hangman</h1>
            <div>
                <button (click)="startGame()">
                    Start
                </button>
            </div>
        </div>
        <div class="body">
            <div class="alphaDiv">
                <div *ngFor="let alpha of array" >
                    <div class="blocks">
                    </div>
                </div>
            </div>
            <div  class="keyboard" >
                <div *ngFor="let alpha of alphabets, let i = index">
                    <!-- <button
                    tuiButton
                    type="button"
                    appearance="outline"
                    class="tui-space_right-3 tui-space_bottom-3"
                    (click)="matchingWords(alpha)"
                  >
                    {{alpha}}
                  </button> -->
                    <button (click)="matchingWords(alpha)">
                        {{alpha}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gobackHome">
    <button
      tuiButton
      type="button"
      appearance="outline"
      class="tui-space_right-3 tui-space_bottom-3"
      routerLink=""
    >
      Go Back to Menu
    </button>
</div>



<!-- <div class="main">
    <div class="subDiv">
        <div class="data">
            <div  class="keyboard" >
                <div *ngFor="let alpha of alphabets, let i = index">
                    <button (click)="onclick(alpha)">
                        {{alpha}}
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</div> -->