<div class="main">
    <div class="subMain">
        <div class="subDiv">
            <div class="data">
                <h1>HangMan</h1>
                <q>
                    Playing Hangman
                Hangman is an old school favorite, a word game where the goal is simply to find the missing word or words.<br>

                You will be presented with a number of blank spaces representing the missing letters you need to find.<br>

                Use the keyboard to guess a letter (I recommend starting with vowels).<br>

                If your chosen letter exists in the answer, then all places in the answer where that letter appear will be revealed.<br>

                After you've revealed several letters, you may be able to guess what the answer is and fill in the remaining letters.<br>

                Be warned, every time you guess a letter wrong you loose a life and the hangman begins to appear, piece by piece.<br>

                Solve the puzzle before the hangman dies.<br>
                </q>
                <button
                    tuiButton
                    type="button"
                    appearance="primary"
                    class="tui-space_right-3 tui-space_bottom-3"
                    routerLink="/hangman"
                >
                    Getting Started
                </button>
                <div>
                    <button
                    tuiButton
                    type="button"
                    appearance="outline"
                    class="tui-space_right-3 tui-space_bottom-3"
                    routerLink=""
                >
                Go Back to Menu
                </button>
                </div>
            </div>
        </div>
    </div>
</div>

